<div class="mainContent">
  <h1>Seleccion de bebida</h1>
  <mat-grid-list cols="2" rowHeight="2:1" gutterSize="10px">
    <mat-grid-tile *ngFor="let drink of this.drinks" (click)="selectDrink(drink)">
      <div class="gridElement">
        <span>{{drink.description}}: {{drink.price}}€</span>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <div>
    <div *ngIf="selectedDrink!=null" class="confirmDrink">
      <button mat-flat-button color="primary"
              (click)="confirmSelectedDrink()"
              style="background-color: #8bb42e;
            font-size: xx-large;
            padding: 30px;
            width: 100%">
        Añadir {{this.selectedDrink.description}}
      </button>
    </div>
    <button mat-flat-button color="primary"
            (click)="this.dialogRef.close()"
            style="background-color: #b45d2e;
            font-size: xx-large;
            padding: 30px;
            width: 100%; margin-top: 5%">
      Volver atrás
    </button>
  </div>
</div>
