<div class="mainContent" style="max-height: 600px">
  <button mat-flat-button color="primary"
          (click)="billRequest()"
          style="background-color: #8bb42e;
          font-size: xx-large;
          padding: 30px;
          width: 100%">
    Pedir la cuenta
  </button>
  <button mat-flat-button color="primary"
          (click)="fullBillRequest()"
          style="background-color: #8bb42e;
          font-size: xx-large;
          padding: 30px;
          width: 100%">
    Pedir cuenta en conjunto
  </button>
</div>
