<div class="mainContent" style="max-height: 600px">
  <button mat-flat-button color="primary"
          (click)="billRequest()"
          style="background-color: #8bb42e;
          font-size: xx-large;
          padding: 30px;
          width: 100%;
          margin-bottom: 10px">
    Pedir la cuenta
  </button>
  <button mat-flat-button color="primary"
          (click)="fullBillRequest()"
          style="background-color: #8bb42e;
          font-size: xx-large;
          padding: 30px;
          width: 100%;
          margin-bottom: 10px">
    Pedir cuenta en conjunto
  </button>
  <button mat-flat-button color="primary"
          (click)="backToMenu()"
          style="background-color: #b45d2e;
          font-size: xx-large;
          padding: 30px;
          width: 100%;
          margin-bottom: 10px">
    Volver al menu principal
  </button>
</div>
