.logout {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;
}

p {
  border-radius: 10px;
  border: ridge rgba(31, 24, 6, 0.22);
  padding: 20px;
  background-color: rgba(188, 201, 187, 0.55);
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.example-container {
  background-color: #e3dbcf;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /*padding: 5%;*/
  text-align: center;
  align-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mainContent {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 3% 3% 3% 0;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 80%;
  height: max-content;
  padding: 30px;
  background-color: #e3dbcf;
}

.no-sidenav-content {
  display: flex;
  height: 100%;
  text-align: center;
  align-content: center;
}

.sidenav {
  display: flex;
  flex-direction: column;
  background-color: #e3dbcf;
  padding: 50px 20px;
  text-align: left;
}

.mat-raised-button {
  height: 50px;
  background-color: #8d7d68;
}
