<!--<mat-toolbar *ngIf="loginService.logged" color="primary">-->
<!--  <mat-toolbar-row>-->
<!--    <span>Alafia</span>-->
<!--    <span class="spacer"></span>-->
<!--    <mat-icon class="logout" aria-hidden="false" aria-label="Logout delete icon" routerLink="login"-->
<!--              [routerLink]="'/login'" (click)="logOut()">backspace</mat-icon>-->
<!--  </mat-toolbar-row>-->
<!--</mat-toolbar>-->

<div class="router">
  <mat-drawer-container class="example-container">
    <div class="no-sidenav-content">
<!--      <button type="button" mat-raised-button (click)="drawer.toggle()" style="font-size: xx-large; margin: 50px; z-index: 99">-->
<!--        Menú-->
<!--      </button>-->
      <div class="mainContent">
        <router-outlet></router-outlet>
      </div>
    </div>
    <mat-drawer #drawer class="sidenav" mode="over">
      <div class="box">
        <p (click)="this.dataService.loadMockedData(); drawer.toggle()">Load mocked data</p>
        <p (click)="onClick('welcome'); drawer.toggle()">Welcome</p>
        <p (click)="onClick('warm-up'); drawer.toggle()">Warm Up</p>
        <p (click)="onClick('drinks'); drawer.toggle()">Drinks</p>
        <p (click)="onClick('wait-diners'); drawer.toggle()">Wait Diners</p>
        <p (click)="onClick('app-menu'); drawer.toggle()">App Menu</p>
        <p (click)="onClick('experience'); drawer.toggle()">Experience</p>
        <p (click)="onClick('bill'); drawer.toggle()">Bill</p>
        <p (click)="onClick('login'); drawer.toggle()">Room Manager</p>
      </div>
    </mat-drawer>
  </mat-drawer-container>
</div>

