<div class="componentView">
  <h1 style="font-size: xx-large">Alafia</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="login-input-field">
      <mat-label>Email</mat-label>
      <input type="email"matInput placeholder="Ex. pat@example.com" formControlName="email">
    </mat-form-field>

    <mat-form-field class="login-input-field">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Password" formControlName="password">
    </mat-form-field>

    <button mat-raised-button type="submit" style="width: 80%; padding: 30px; font-size: x-large">Login</button>
  </form>
</div>
