mat-radio-button {
  margin-right: 5px;
  width: 15%;
  margin-bottom: 20px;
}
mat-radio-group {
  margin-left: 70px;
  margin-bottom: 10px;
}

.flex-parent {
  display: flex;
  margin-top: 20px;
}

.jc-center {
  justify-content: center;
}
