<div *ngIf="!this.dataService.activeTable">
  <h1>Waiting data from server</h1>
</div>
<div *ngIf="this.dataService.activeTable">
  <h1 style="font-size: xx-large">ALAFIA</h1>
  <h1 style="font-size: xx-large">¡Bienvenidos!</h1>
  <h2 style="font-size: x-large">Reserva de {{this.dataService.activeTable.booking.client.name}}</h2>
  <div class="confirmClient">
    <button mat-flat-button color="primary"
            (click)="confirmClientInTable()"
            style="background-color: #8bb42e;
            font-size: large;
            padding: 30px;
            width: 100%">
      Confirmar usuario {{this.dataService.activeTable.booking.client.name}}
    </button>
  </div>
  <button mat-flat-button color="primary"
          (click)="selectOtherClient()"
          style="background-color: #b45d2e;
            font-size: large;
            padding: 30px;
            width: 100%; margin-top: 5%">
    Seleccionar otro usuario
  </button>
</div>


